.header-container {
  width: 80%;
  margin: $m2 auto;
  @include flexBox(center, space-between, 10px, row);
}
.signUp-container {
  width: 100%;
  height: 100%;
  .container {
    width: 100%;
  }
  .card-right {
    padding: $p2;
  }
  .card {
    width: 100%;
    border: none;
    &-head {
      .app {
        text-align: center;
        svg {
          margin-right: $m1;
        }
        span {
          color: #8a33fd;
          font-size: 22px;
          font-weight: 500;
        }
        .google {
          padding: 16px 20px;
          border-radius: 8px;
          border: 1px solid #3c4242;
          margin: $m2 0 $m1;
        }
        .twitter {
          padding: 16px 20px;
          border-radius: 8px;
          border: 1px solid #3c4242;
        }
      }
    }
    &-line {
      @include flexBox(center, space-between, 10px, row);
      margin: $m3 0;
      .line {
        background: rgba(102, 102, 102, 0.25);
        height: 2px;
        width: 50%;
        span {
          color: #666;
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
    &-form {
      width: 100%;
      input {
        width: 100%;
        padding: 16px 20px;
        border-radius: 8px;
        border: 1px solid #3c4242;
      }
      p {
        color: #3c4242;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.36px;
        text-transform: capitalize;
      }
      .password {
        margin: 10px 0;
      }
      .forget {
        text-align: right;
        color: #3c4242;
        font-size: 16px;
        font-weight: 400;
        text-decoration-line: underline;
        margin-top: 10px;
      }
      .drow {
        @include flexBox(center, space-between, 10px, row);
        .eye{
            span{
                color: #807D7E;
text-align: right;
font-size: 18px;
font-weight: 400;
margin-left: 10px;
            }
        }
      }
    }
    &-bottom{
        p{
            margin-top: 10px;
            color: #3C4242;
font-size: 16px;
font-weight: 400;
a{
    text-decoration-line: underline;
color: #3C4242;
}
        }
    }
  }
}
